<header class="h-[100px] mb-[30px]">
        <div class="logo grid grid-cols-1 justify-items-center">
        </div>
        <nav>
            <ul class="grid grid-cols-5 justify-items-center">
                <li class="btn-nav"><a href="home">Inicio</a></li>
                <li class="btn-nav"><a href="catalogo">Catálogo</a></li>
                <li class="btn-nav"><a href="citas">Reserva de Citas</a></li>
                <li class="btn-nav"><a href="socios">Planes de socios</a></li>
                <li class="btn-nav"><a href="nosotros">Sobre nosotros</a></li>
            </ul>
        </nav>
        <div class="grid justify-items-center">
            <button class="text-[18px] px-[25px] py-[15px] shadow-xl bg-blue-500 rounded-[5px] hover:bg-blue-600" (click)="switchModal()">Inicia Sesión</button>
        </div>
</header>
<div *ngIf="modalSwitch == true">
    <app-modal></app-modal>
</div>