<header class="h-[100px] mb-[30px]">
        <div class="logo grid grid-cols-1 justify-items-center"></div>
        <nav class="w-[1000px]">
            <ul class="grid grid-cols-5 justify-items-center">
                <li class="btn-nav"><a href="home">Inicio</a></li>
                <li class="btn-nav"><a href="catalogo">Catálogo</a></li>
                <li class="btn-nav"><a href="citas">Reserva de Citas</a></li>
                <li class="btn-nav"><a href="socios">Planes de socios</a></li>
                <li class="btn-nav"><a href="nosotros">Sobre nosotros</a></li>
            </ul>
        </nav>
        <div *ngIf="iniciado == 'false'" class="w-[400px] grid justify-items-center">
            <button class="text-[18px] px-[25px] py-[15px] shadow-xl bg-blue-700 rounded-[5px] hover:bg-blue-800" (click)="switchModal()">Inicia Sesión</button>
        </div>
        <div *ngIf="iniciado != 'false'" class="w-[400px] grid justify-items-center grid-cols-2">
            <button *ngIf="admin == false" class="w-40 text-[16px] px-[25px] py-[15px] shadow-xl bg-blue-700 rounded-[5px] hover:bg-blue-800"><a href="perfil" class="text-[15px] font-medium">Perfil Personal</a></button>
            <button *ngIf="admin == true" class="w-40 text-[16px] px-[25px] py-[15px] shadow-xl bg-blue-700 rounded-[5px] hover:bg-blue-800"><a href="admin" class="text-[15px] font-medium">Panel de administración</a></button>
            <button class="w-40 text-[16px] px-[25px] py-[15px] shadow-xl bg-red-700 rounded-[5px] hover:bg-red-800" (click)="cerrarSesion()">Cerrar Sesión</button>
        </div>
</header>
<div *ngIf="modalSwitch == true">
    <app-modal></app-modal>
</div>