header{
    display: grid;
    width: 1900px;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-bottom: 100px;
}
nav ul li a{
    font-size: 20px;
}
  
.btn-nav:after,
.btn-nav:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}
  
.btn-nav:hover:after,
.btn-nav:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: white;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 250ms ease-in-out;
    width: 100%;
}
@media (max-width: 1224px) {
    .lista{
        display: none;
    }
    .menuBurger{
        display: block;
    }
}