<header class="h-[100px]">
    <div class="grid grid-cols-1 justify-items-center">
        <img src="#" alt="logo">
    </div>
    <nav>
        <ul class="grid grid-cols-5 justify-items-center">
            <li>Ayuda</li>
            <li>Catálogo</li>
            <li>Reserva de Citas</li>
            <li>Planes de socios</li>
            <li>Sobre nosotros</li>
        </ul>
    </nav>
    <div class="grid grid-cols-2 justify-items-center">
        <p class="inline">login</p>
        <p class="inline">register</p>
    </div>
</header>
