footer{
    position: fixed;
    width: 1900px;
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(184, 184, 184);
    padding: 20px;
}
.footer p{
    margin: 0;
}