<div class="grid grid-cols-2 px-[200px]">
    <div class="bg-slate-50 rounded-[10px] w-[400px] h-[650px]">
        
    </div>
    <div class="bg-slate-400 rounded-[10px] grid grid-cols-2">
        <div>
            <h2>Nombre:</h2>
            <h2>Apellidos:</h2>
            <h2>Correo asociado:</h2>
            <button class="mt-[20px] shadow-xl bg-blue-500 rounded-[10px] px-[25px] py-[15px] hover:bg-blue-600">Cambiar foto de perfil</button>
        </div>
        <nav>
            <ul>
                <li>Datos personales</li>
                <li>Historial de pedidos</li>
            </ul>
        </nav>
    </div>
</div>
