<div class="catalogo grid justify-items-center">
    <div class="buscador grid justify-items-center mt-[30px] mb-[50px]">
        <form action="#">
            <input type="search" name="buscador" id="buscador" placeholder="Buscar por nombre de pieza" class="rounded-l-[50px] bg-slate-300 pl-[20px] h-[65px] w-[1000px]">
            <input type="submit" value="Buscar" class="bg-blue-400 h-[65px] rounded-r-[50px] px-[20px]">
        </form>
    </div>
    <div class="catalogo grid justify-items-center mb-[30px]">
        <div class="grid grid-cols-4 gap-[30px]">
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
            <div class="w-[250px] h-[250px] bg-slate-400"></div>
        </div>
        <div class="paginacion grid grid-cols-7 my-[30px] gap-[10px]">
            <button><img src="../../../assets/img/icons/l.svg" alt="arrow" width="15px"></button>
            <div class="bg-slate-300 w-[25px] h-[25px] rounded-[4px] text-center">1</div>
            <div class="bg-slate-300 w-[25px] h-[25px] rounded-[4px] text-center">2</div>
            <div class="bg-slate-300 w-[25px] h-[25px] rounded-[4px] text-center">3</div>
            <p class="text-center">...</p>
            <div class="bg-slate-300 w-[25px] h-[25px] rounded-[4px] text-center">25</div>
            <button><img src="../../../assets/img/icons/r.svg" alt="arrow" width="15px"></button>
        </div>
    </div>
</div>
