<div class="catalogo grid justify-items-center">
    <div class="buscador w-[100%] grid justify-items-center mt-[30px] mb-[50px]">
        <div class="relative w-[50%]">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Añade aquí el nombre de la pieza..." required />
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
        </div>
    </div>
    <div class="catalogo grid justify-items-center mb-[30px]">
        <div class="grid grid-cols-4 gap-[30px]">
            <div *ngFor="let pieza of listaPiezas" class="w-[300px] h-[300px] rounded-[10px] grid justify-items-center">
                <div id="pieza" class="shadow-xl" style="background-image: url(../../../assets/img/piezas/{{pieza.img}});"></div>
                <div class="grid grid-cols-2 h-[100%] gap-3">
                    <button class="encargar shadow-xl p-4 text-[18px] font-medium rounded-[10px]" (click)="persistirPieza(pieza.idPieza)"><a href="pieza">Encargar</a></button>
                    <button class="descargar shadow-xl p-4 text-[18px] font-medium rounded-[10px]"><a [href]="'../../../assets/stl/' + pieza.slt" download>Descargar .stl</a></button>
                </div>
            </div>
        </div>
        <div class="paginacion grid grid-cols-7 my-[30px] gap-[10px]">
            <button><img src="../../../assets/img/icons/l.svg" alt="arrow" width="15px" (click)="retroPag()"></button>
            <div class="bg-slate-700 cursor-pointer w-[25px] h-[25px] rounded-[4px] text-center" (click)="retroPag()">1</div>
            <div class="bg-slate-700 cursor-pointer w-[25px] h-[25px] rounded-[4px] text-center" (click)="avazarPag()">2</div>
            <div class="bg-slate-700 cursor-pointer w-[25px] h-[25px] rounded-[4px] text-center">3</div>
            <p class="text-center">...</p>
            <div class="bg-slate-700 cursor-pointer w-[25px] h-[25px] rounded-[4px] text-center">25</div>
            <button><img src="../../../assets/img/icons/r.svg" alt="arrow" width="15px" (click)="avazarPag()"></button>
        </div>
    </div>
</div>
