.catalogo{
  animation: aparecer 0.5s ease-out forwards;
}
.paginacion{
    margin-bottom: 50px;
}
#pieza{
  width: 100%;
  height: 210px;
  background-image: url('../../../assets/img/piezas/baston.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
}
#pieza2{
  width: 100%;
  height: 210px;
  background-image: url('../../../assets/img/piezas/bookmark.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
}
#pieza3{
  width: 100%;
  height: 210px;
  background-image: url('../../../assets/img/piezas/cactus.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
}
#pieza4{
  width: 100%;
  height: 210px;
  background-image: url('../../../assets/img/piezas/phone.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125%;
  border-radius: 10px;
}
@keyframes aparecer {
    from {
      opacity: 0; /* Opacidad al principio de la animación */
    }
    to {
      opacity: 1; /* Opacidad al final de la animación */
    }
  }