form{
    background-color: rgb(184, 184, 184);
}
#fecha{
    background-color: #ad8168;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
}