<div class="grid justify-items-center">
    <div>
        <h2 class="text-center">¿Quienes somos?</h2>
        <div class="grid grid-cols-2 gap-[20px]">
            <div class="w-[500px] grid justify-items-center">
                <img src="../../../assets/img/def.webp" alt="angel" class="rounded-[10px]">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus fugiat aut modi perferendis dolorum ad quibusdam aliquam nisi illo soluta quis architecto obcaecati nesciunt eum exercitationem laudantium, unde iste fuga.</p>
            </div>
            <div class="w-[500px] grid justify-items-center">
                <img src="../../../assets/img/def.webp" alt="jose" class="rounded-[10px]">>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis corporis accusantium fugit in at, possimus eos libero cupiditate facere. In reiciendis laborum beatae soluta quas ipsa, neque itaque quaerat aspernatur!</p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-center">¿En que consiste la impresion 3D?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, debitis aliquam. Debitis, suscipit quaerat saepe id libero porro magnam molestias labore. Inventore deserunt temporibus ullam enim commodi aliquam quod esse!</p>
    </div>
    <div>
        <h2 class="text-center">Impresoras y materiales que utilizamos</h2>
        <div class="grid grid-cols-3">
            <div class="">
                <p class="text-center">Artillery Sidewinder X2</p>
                <img src="../../../assets/img/nosotros/side.webp" alt="side" width="500px">
                <p class="text-center">Descripcion</p>
            </div>
            <div class="">
                <p class="text-center">Prusa MK4</p>
                <img src="../../../assets/img/nosotros/prusa.jpg" alt="prusa" width="500px">
                <p class="text-center">Descripcion</p>
            </div>
            <div class="">
                <p class="text-center" >Creality Ender 3 V2</p>
                <img src="../../../assets/img/nosotros/ender.jpg" alt="ender" width="500px">
                <p class="text-center">Descripcion</p>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-[10px]">
            <div class="grid justify-items-center">
                <p class="text-center">PLA</p>
                <div class="pla w-[400px] h-[240px] rounded-[5px]"></div>
                <p class="text-center">Descripcion</p>
            </div>
            <div class="grid justify-items-center">
                <p class="text-center">PETG</p>
                <div class="petg w-[400px] h-[240px] rounded-[5px]"></div>
                <p class="text-center">Descripcion</p>
            </div>
        </div>
    </div>
</div>
