<div class="grid justify-items-center">
    <div class="uno w-[50%]">
        <h2 class="text-center">¿Quiénes somos?</h2>
        <div class="grid grid-cols-2 justify-center">
            <div class="w-[500px] grid justify-items-center">
                <img src="../../../assets/img/def.webp" width="150px" alt="angel" class="rounded-[10px] mb-[10px]">
                <p>Ángel Luis Sánchez Bottois</p>
            </div>
            <div class="w-[500px] grid justify-items-center">
                <img src="../../../assets/img/def.webp" width="150px" alt="jose" class="rounded-[10px] mb-[10px]">
                <p>José Lanchas Rodriguez</p>
            </div>
            <!-- <div>
                <p>Dos amigos que de pequeños jugamos tanto a Lego que ahora de mayores queremos construir nuestras propias piezas.</p>
            </div> -->
        </div>
    </div>
    <div class="dos w-[50%]">
        <h2 class="text-center">¿En que consiste la impresion 3D?</h2>
        <p class="text-center">La impresión 3D es como una máquina mágica que convierte ideas digitales en objetos reales, capa por capa, usando materiales como plástico o metal. Es como si una impresora normal, en lugar de tinta, usara algo más sólido para crear cosas tridimensionales. Básicamente, puedes "imprimir" desde juguetes hasta piezas de avión.</p>
    </div>
    <div class="primero">
        <h2 class="text-center">Impresoras que utilizamos en A3DJ</h2>
        <div class="grid grid-cols-3 gap-[30px]">
            <div class="grid justify-items-center">
                <p class="text-center">Artillery Sidewinder X2</p>
                <img src="../../../assets/img/nosotros/side.png" alt="side" width="200px">
                <p class="text-center">Destinada a impresiones de gran tamaño.</p>
            </div>
            <div class="grid justify-items-center">
                <p class="text-center">Prusa MK4</p>
                <img src="../../../assets/img/nosotros/prusa.png" alt="prusa" width="200px">
                <p class="text-center">Nuestra mejor impresora, acabados de altísima calidad.</p>
            </div>
            <div class="grid justify-items-center">
                <p class="text-center" >Creality Ender 3 V2</p>
                <img src="../../../assets/img/nosotros/ender.png" alt="ender" width="200px">
                <p class="text-center">Una impresora versátil, con buenos acabados y velocidad.</p>
            </div>
        </div>
    </div>
</div>
