<div>
    <p class="primero text-center text-[30px]"><u>No esperes más y busca tus piezas 3D favoritas</u></p><br>
    <!-- <p class="segundo text-center text-[20px] mt-[20px]"></p> -->
    <div class="buscador grid justify-items-center mt-[30px] mb-[50px]">
        <!-- <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"></label> -->
        <div class="barra relative w-[50%]">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Añade aquí el nombre de la pieza..." required />
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
        </div>
    </div>
    <div class="ejemplos grid justify-items-center mb-[30px]">
        <h2 class="text-[20px] mb-[30px]"><u>Piezas más populares de los últimos 30 días</u></h2>
        <div class="piezas grid grid-cols-4 gap-[30px]">
            <div *ngFor="let pieza of listaPiezas" class="w-[300px] h-[300px] rounded-[10px] grid justify-items-center">
                <div id="pieza" class="shadow-xl" style="background-image: url(../../../assets/img/piezas/{{pieza.img}});"></div>
                <div class="grid grid-cols-2 h-[100%] gap-3">
                    <button class="encargar shadow-xl p-4 text-[18px] font-medium rounded-[10px]" (click)="persistirPieza(pieza.idPieza)"><a href="pieza">Encargar</a></button>
                    <button class="descargar shadow-xl p-4 text-[18px] font-medium rounded-[10px]"><a href="../../../assets/stl/{{pieza.stl}}" download>Descargar .stl</a></button>
                </div>
            </div>
        </div>
        <button class="mt-[60px] shadow-xl bg-blue-700 rounded-[10px] px-[25px] py-[15px] hover:bg-blue-800"><a href="catalogo" class="text-[15px] font-medium">Ir al catálogo</a></button>
    </div>
</div>
<div class="info shadow-xl w-[200px] h-[100px] rounded-[5px]">
    <div class="flex justify-end">
        <button type="button" (click)="info()" class="text-gray-700 bg-transparent hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
        </button>
    </div>
    <p class="text-center text-black cursor-default">¿No sabes qué es la impresión 3D o tienes dudas?<br><a href="nosotros" class="text-blue-700 hover:text-blue-800">Aquí te lo explicamos 🙂</a></p>
</div>