<div>
    <h1 class="text-center text-[45px] mb-[20px]">Bienvenido a A3DJ</h1>
    <p class="text-center text-[20px]">Esto será un texto informativo...</p>
    <div class="buscador grid justify-items-center mt-[30px] mb-[50px]">
        <form action="#">
            <input type="search" name="buscador" id="buscador" placeholder="Buscar por nombre de pieza" class="rounded-l-[50px] bg-slate-300 pl-[20px] h-[65px] w-[1000px]">
            <input type="submit" value="Buscar" class="bg-blue-400 h-[65px] rounded-r-[50px] px-[20px]">
        </form>
    </div>
    <div class="ejemplos grid justify-items-center mb-[30px]">
        <h2 class="text-[20px] mb-[30px]">Piezas sugerencias</h2>
        <div class="grid grid-cols-3 gap-[30px]">
            <div class="w-[300px] h-[300px] bg-slate-400"></div>
            <div class="w-[300px] h-[300px] bg-slate-400"></div>
            <div class="w-[300px] h-[300px] bg-slate-400"></div>
            <div class="w-[300px] h-[300px] bg-slate-400"></div>
            <div class="w-[300px] h-[300px] bg-slate-400"></div>
            <div class="w-[300px] h-[300px] bg-slate-400"></div>
        </div>
        <button class="mt-[30px] bg-blue-300 rounded-[10px] px-[20px] py-[10px]">Catálogo</button>
    </div>
</div>
