<div class="grid justify-items-center">
    <h1 class="text-center text-[45px] mb-[20px]">Planes de socios</h1>
    <div class="grid grid-cols-3 gap-[50px]">
        <div class="w-[400px] h-[600px] bg-slate-300 rounded-[15px] py-[35px]">
            <h2 class="text-[30px] text-center">VIP 1</h2>
            <p>Aqui los beneficios del plan...</p>
        </div>
        <div class="w-[400px] h-[600px] bg-slate-300 rounded-[15px] py-[35px]">
            <h2 class="text-[30px] text-center">VIP 2</h2>
            <p>Aqui los beneficios del plan...</p>
        </div>
        <div class="w-[400px] h-[600px] bg-slate-300 rounded-[15px] py-[35px]">
            <h2 class="text-[30px] text-center">VIP 3</h2>
            <p>Aqui los beneficios del plan...</p>
        </div>
    </div>
</div>
