<div class="modal">
    <div *ngIf="estado == 'c'" class="bg-white rounded-lg shadow relative dark:bg-gray-700 w-auto">
        <div class="flex justify-end p-2">
            <button (click)="closeModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
            </button>
        </div>
        <div class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 xl:pb-8">
            <p class="text-[30px] font-medium text-gray-900 dark:text-white">Citas reservadas por los usuarios <span class="text-red-700">{{error}}</span></p>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Usuario
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Fecha
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Hora
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Supervisor
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Activa
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Detalles
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cita of citas" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{cita.idCliente}}
                            </th>
                            <td class="px-6 py-4">
                                {{cita.fechaCita}}
                            </td>
                            <td class="px-6 py-4">
                                {{cita.idHora}}
                            </td>
                            <td class="px-6 py-4">
                                {{cita.idSupervisor}}
                            </td>
                            <td class="px-6 py-4">
                                <span *ngIf="cita.citaActiva==true">✅ Aprobada</span>
                                <span *ngIf="cita.citaActiva==false">&#x2753; Pendiente</span>
                            </td><td class="px-6 py-4 max-w-[300px]">
                                {{cita.detalles}}
                            </td>
                            <td class="px-6 py-4">
                                <a *ngIf="cita.citaActiva == false" class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="activarCita(cita.idCita)">Confirmar</a>
                            </td>
                    </tbody>
                </table>
        </div>
    </div>
    <div *ngIf="estado == 'p'" class="bg-white rounded-lg shadow relative dark:bg-gray-700 w-auto">
        <div class="flex justify-end p-2">
            <button (click)="closeModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
            </button>
        </div>
        <div class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 xl:pb-8">
            <p class="text-[30px] font-medium text-gray-900 dark:text-white">Pedidos realizados por los usuarios <span class="text-red-700">{{error}}</span></p>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Usuario
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Fecha
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Hora
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Supervisor
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Activa
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Detalles
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cita of citas" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{cita.idCliente}}
                            </th>
                            <td class="px-6 py-4">
                                {{cita.fechaCita}}
                            </td>
                            <td class="px-6 py-4">
                                {{cita.idHora}}
                            </td>
                            <td class="px-6 py-4">
                                {{cita.idSupervisor}}
                            </td>
                            <td class="px-6 py-4">
                                <span *ngIf="cita.citaActiva==true">&#x2714; Aprobada</span>
                                <span *ngIf="cita.citaActiva==false">&#x2753; Pendiente</span>
                            </td><td class="px-6 py-4 max-w-[300px]">
                                {{cita.detalles}}
                            </td>
                            <td class="px-6 py-4">
                                <a *ngIf="cita.citaActiva == false" class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="activarCita(cita.idCita)">Confirmar</a>
                            </td>
                    </tbody>
                </table>
        </div>
    </div>
</div>

